/**
 * Banners
 */

.banner{
    text-align: center;
}

.banner-home{
    position: relative;
    z-index: 10;
    background: url(../img/bg-banner.png) repeat top center;
    
    @media screen and (max-width: $sm){
        padding: 0 15px;
    }
    
    .slick-slide{
        
        img{
            margin: 0 auto;
        }
    }
    
    .slick-dots{
        bottom: 10px;
        font-size: 0;
        left: 0;
        padding: 3px 0;
        position: absolute;
        text-align: center;
        width: 100%;
        z-index: 10;
        
        @media screen and (max-width: $sm){
            margin-top: 10px;
            position: static;
        }
        
        li{
            display: inline-block;
            margin: 0 5px;
            opacity: .5;
            
            &.slick-active,
            &:hover{
                opacity: 1;
            }
        }
        
        button{
            background: none;
            box-shadow: 0 0 2px 1px rgba(0,0,0,.3);
            border: 3px solid #fff;
            display: block;
            font-size: 0;
            height: 20px;
            padding: 0;
            width: 20px;
        }
    }
}

.banner-ruler{
    margin-bottom: 30px;
    margin-top: 30px;
}

.banner-widget{
    padding-top: 30px;
    padding-bottom: 30px;
    
    @media screen and (max-width: $sm){
        .mini-banner{
            margin: 10px 0;
        }
    }
}

.banner-widget-home{
    margin: 30px 0;
    
    @media screen and (max-width: $sm){
        .mini-banner3{
            margin: 15px 0;
        }
    }
}

.tipbar{
    margin: 30px 0 0;
    width: 100%;
    text-align: center;

    img{
        margin:auto 0;
    }
}