// fonts
$font: 'open_sansregular', sans-serif;
$font2: 'Pacifico', cursive;
$font3: 'open_sanssemibold';
$font4: 'open_sansbold';


// vendor prefix
@mixin prefix($name, $argument) {
    -webkit-#{$name}: #{$argument};
       -moz-#{$name}: #{$argument};
        -ms-#{$name}: #{$argument};
         -o-#{$name}: #{$argument};
            #{$name}: #{$argument};
}

// styling placeholder
@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}   
}

@mixin typo($size:12px, $w:400, $family:$font, $lh:1) {
    font-family: $family;
    font-size: $size;
    font-weight: $w;
    line-height: $lh; 
}

// default transition
.transition{
    @include prefix('transition', '300ms all ease 0s');
}

// queries
$sm: 767px;
$md: 992px;

// rem ajust
html,
body{
    @include typo(10px, 400, $font, 1);
}

body{
    background: #ffffff;
}

.content-split{
    border-color: #ccc;
    margin-bottom: 30px;
    margin-top: 0;
}

.page-content{
    background: #fff;
    padding: 0 15px;
    
    @media screen and (max-width: $sm){
        padding: 0 15px;
    }
}

.page-content .container{
    padding: 0;
    width: 100%;
}

.site-main {
    position: relative;
    z-index: 10;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}

.col-centered{
    display: inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

// Adjust for mobile
.suggestion{
    @media screen and (max-width: $sm){
        left: 0;
        margin: 0 -48px;
        min-width: 100%;
        right: 0;
        top: 60px;
    }
}