.cart{
    border-radius: 50px;
    color: #3d4445;
    display: block;
    height: 50px;
    padding: 7px 30px;
    margin-top: 15px;

    strong{
        color: #c94532;
    }
    
    @media screen and (max-width: $sm){
        background: none;
        border: none;
        margin-top: 8px;
        padding: 0;
        text-align: center;
        
        svg{
            fill: #fff;
        }
    }
    
    &:active,
    &:link,
    &:hover{
        color: #3d4445;
        text-decoration: none;
    }
    
    &:hover{
        color: #3d4445;
        text-decoration: none;
    }
    
    .cart-icon{
        border-radius: 50px;
        height: 50px;
        padding: 0 0 12px 0;
        position: relative;
        text-align: center;
        width: 50px;
        
        @media screen and (max-width: $sm){
            display: inline-block;
            float: none !important;
        }
        
        > span{
            background: #252525;
            border-radius: 15px;
            border: 1px solid #fff;
            color: #fff;
            font-size: 11px;
            font-style: normal;
            height: 15px;
            line-height: 14px;
            position: absolute;
            right: -7px;
            top: -3px;
            width: 15px;
        }
    }
    
    .cart-info{
        overflow: hidden;
    }

    .cart-total{
        // border-bottom: 1px solid #ebebeb;
        color: #9e9e9e;
        height: 50px;
        padding: 0;
        padding-left: 10px;
        text-align: left;
        @include typo(1.6rem, 400, $font, 1.6rem);

        strong{
            font-size: 1.2rem;
        }
    }
}