.customer{
    color: #888;
    @include typo(12px, 400, $font, 12px);
    padding: 15px 0 5px;
    // text-transform: uppercase;
    
    &:after{
        // border-bottom: 1px dashed rgba(0,0,0,0.13);
        // content: '';
        // display: block;
        // margin-top: 10px;
    }
    
    a{
        color: #8990ae;
        font-weight: 700;
        text-transform: uppercase;
    }
    
    .login{
        @media screen and (max-width: $sm){
            display: none;
        }
    }
    
    .orders{
        text-align: right;
        
        @media screen and (max-width: $sm){
            text-align: center;
        }
        
        > *{
            color: #8990ae;
            border-right: 1px solid #8990ae;
            display: inline-block;
            margin-right: 15px;
            padding-right: 15px;
            
            @media screen and (max-width: $sm){
                margin-right: 10px;
                padding-right: 10px;
            }
            
            &:first-child,
            &:nth-child(2){
                display: none !important;
                
                @media screen and (max-width: $sm){
                    display: inline-block !important;
                    
                    &.tray-hide{
                        display: none !important;
                    }
                }
            }
            
            &:last-child{
                border-right: none;
                margin-right: 0;
                padding-right: 0;
            }
        }
    }
}