.foo-content{
    
    > .container{
        padding: 70px 15px 35px;
        
        @media (min-width: 768px){
            width: 720px;
        }
        
        @media (min-width: 992px){
            width: 940px;
        }
        
        @media (min-width: 1200px){
            width: 1140px;
        }
    }
    
    h3{
        color: #60525f;
        margin-bottom: 20px;
        text-transform: uppercase;
        
        @include typo(1.8rem, 400, $font3, 3rem);
    }
    
    h5{
        color: #666;
        margin: 5px 0;
        padding: 0 0 0 5px;
        text-transform: uppercase;
        
        @include typo(1rem, 700, $font, 1.5rem);
    }
    
    .links-list{
        
        li{
            margin-bottom: 10px;
        }
        
        a{
            color: #666;
            display: inline-block; 
            
            @include typo(1.4rem, 300, $font, 1.8rem);
        }
    }
    
    .payment-gateways{

        .security-infos{
            margin-top: 40px;
        }
        
        .payment-form{
            padding: 3px;
            
            img{
                max-height: 27px;
            }
        }
        
        .row{
            margin-left: -3px;
            margin-right: 0;
        }
        
        svg{
            max-width: 100%;
        }
    }
    
    @media screen and (max-width: $sm){
        
        .container > div{
            margin-top: 70px;
            
            &:first-child{
                margin-top: 0;
            }
        }
    }
}

.foo-rating{
    background: #f9f9f9;
    margin-top: 30px;
    padding: 30px;
    
    > h4{
        color: #c8c8c8;
        margin-bottom: 5px;
        text-transform: uppercase;
        @include typo(1.3rem, 400, $font, 1.3rem);
    }
    
    > h3{
        color: #4b8cdc;
        text-transform: uppercase;
        @include typo(2.5rem, 400, $font, 2.5rem);
    }
    
    .dep_lista{
        font-size: 0;
        margin: 15px -15px 0;
    }
    
    .dep_img{
        display: none;
    }
    
    .dep_item{
        display: inline-block;
        font-size: 1.8rem;
        line-height: 2rem;
        vertical-align: top;
        width: 50%;
        
        @media screen and (max-width: $sm){
            width: 100%;
        }
    }
    
    .dep_dados{
        padding: 15px;
        
        > li{
            
            > span{
                font-weight: bold;
            }
        }
    }
    
    .dep_link{
        margin-top: 15px;
        font-size: 0;
        text-align: center;
        
        a{
            background: #4b8cdc;
            color: #fff;
            font-size: 1.8rem;
            padding: 9px 40px;
            text-transform: uppercase;
            
            &:hover{
                text-decoration: none;
            }
        }
    }
}

.tagcloud{
    background: #f9f9f9;
    font-size: 2rem;
    margin-top: 30px;
    padding: 30px;
    
    > h4{
        color: #c8c8c8;
        margin-bottom: 5px;
        text-transform: uppercase;
        @include typo(1.3rem, 400, $font, 1.3rem);
    }
    
    > h3{
        color: #4b8cdc;
        text-transform: uppercase;
        @include typo(2.5rem, 400, $font, 2.5rem);
    }
    
    #NavTagCloud{
        
        h1,
        h2,
        h3,
        h4,
        h5,
        h6{
            display: none;
        }
        
        a{
            color: #aaa;
        }
    }
}

.foo-payment{
    max-width: 320px;
}

.foo-social{
    text-align: center;

    .container{
        border-top: 1px solid #ebebeb;
        padding: 30px 0;
        
        @media (min-width: 768px){
            width: 720px;
        }
        
        @media (min-width: 992px){
            width: 940px;
        }
        
        @media (min-width: 1200px){
            width: 1140px;
        }
    }
    
    @media screen and (min-width: 768px){
        .row-centered{
            margin: 0 auto;
            width: 480px;        
        }
    }
    
    @media screen and (max-width: $sm){
        .social-icon{
            padding: 0 4px;
            
            svg{
                max-width: 100%;
            }
        }
    }
}

.foo-contact{
    
    .social-infos, .contact-infos{
        clear: both;
    }

    .social-infos{
        margin-top: 40px;

        ul{
            margin-top: -20px;

            li{
                display: inline-block;
                margin-right: 10px;

                a{
                    &:hover{
                        opacity: 0.6;
                    }
                }
            }
        }
    }


    @media screen and (min-width: 768px) and (max-width: 992px){
        margin-bottom: 70px;
    }
    
    i{
        display: inline-block;
        font-size: 0;
        height: 36px;
        margin-right: 10px;
        text-align: center;
        vertical-align: middle;
        width: 36px;
        
        &:before{
            content: '';
            display: inline-block;
            height: 36px;
            vertical-align: middle;
            width: 1%;
        }
        
        svg{
            display: inline-block;
            max-width: 99%;
            vertical-align: middle;
        }
    }
    
    p{
        color: #666;
        display: inline-block;
        vertical-align: middle;
        width: 80%;
        @include typo(1.4rem, 400, $font, 1.8rem);
    }
    
    li{
        margin-top: 17px;
        
        &:first-child{
            margin-top: 0;
        }
    }
}

.foo-seals{
    
    > li{
        margin-bottom: 10px;
    }
    
    .seal-ebit{
        margin-right: 10px;
    }
    
    center{
        text-align: left;
    }
    
    .google-safe{
        background: #fff;
        border-radius: 3px;
        display: inline-block;
        padding: 3px;
        width: 115px;
    }
}

.foo-message{
    color: #aaa;
    margin-bottom: 10px;
    padding: 25px 0;
    text-align: center;
    
    @include typo(1.4rem, 400, $font, 1.6rem);
    
    .message-footer {
        color: #aaa;
    }
}