/**
 * Header
 */

header{
    background: #d4e7f0;
}

.wrapper-nav{
    background: #4b8cdc;
    clear: both;
}

.wrapper-cart{
    padding: 0;
}

.wrap-logo{
    text-align: center;
}

.trigger-menu{
    background: none;
    border: none;
    display: block;
    margin: 0 auto;
    padding: 19px 0;
}

.site-logo {
    height: 118px;
    display: inline-block;
    font-size: 0;
    text-align: center;
    
    &:before{
        content: '';
        display: inline-block;
        height: 118px;
        margin-right: -1%;
        vertical-align: middle;
        width: 1%;
    }
    
    img{
        display: inline-block;
        max-height: 108px;
        max-width: 99%;
        vertical-align: middle;
    }
}