.nav-full{
    background: #fff;
    // border-bottom: 1px solid #ebebeb;
    // border-top: 1px solid #ebebeb;
    // box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    position: relative;
    z-index: 20;
    
    @media screen and (max-width: $sm){
        box-shadow: none;
        border: none;
    }
}

.horizontal-nav{
    position: relative;
    z-index: 20;
    border-bottom: 1px solid #e2e2e2;

    .level1{
        height: 70px;
        position: relative;
        text-align: center;
    }
    
    .level2{
        display: none;
        left: 0;
        height: 400px;
        position: absolute;
        padding-right: 300px;
        background: #c94532;
        
        -webkit-box-shadow: -2px 3px 12px 0px rgba(0, 0, 0, 0.5);
        box-shadow: -2px 3px 12px 0px rgba(0, 0, 0, 0.5);

        .level-highlight{
            float: right;
            right: 0;
            top: 0;
            position: absolute;
            width: 290px;
            height: 100%;
            text-align: left;
            margin-left: 10px;

            a{
                height: 100%;
                width: 100%;
                background: #fff;
                display: block;
                color: #fff;
                font-size: 14px;

                span{
                    width: 80%;
                    margin: 0 10%;
                    display: inline-block;
                    height: 50px;
                    position: absolute;
                    bottom: 20px;
                    background: #f6b758;
                    border-radius: 25px;
                    line-height: 50px;
                    text-align: center;
                }

                &:hover span{
                    background: #c94532;
                }
            }
        }

        //roupadebebe
        &.category-2{
            width: 700px;

            .item-level2{
                width: 50% !important;
            }

            .level-highlight a{
                background-image: url(../img/categoria-1.jpg);
                background-position: 100% 0;
            }
        }

        //enxovais
        &.category-4{
            .level-highlight a{
                background-image: url(../img/categoria-2.jpg);
                background-position: 100% 0;
            }
        }

        //roupasinfantis
        &.category-6{
            .level-highlight a{
                background-image: url(../img/categoria-3.jpg);
                background-position: 100% 0;
            }
        }

        //brinquedos
        &.category-12{
            .level-highlight a{
                background-image: url(../img/categoria-4.jpg);
                background-position: 100% 0;
            }
        }
        
        //poridade
        &.category-42{
            width: 700px;

            .item-level2{
                width: 50% !important;
            }
            .level-highlight a{
                background-image: url(../img/categoria-5.jpg);
                background-position: 100% 0;
            }
        }

        //ofertas
        &.category-188{
            .level-highlight a{
                background-image: url(../img/categoria-6.jpg);
                background-position: 100% 0;
            }
        }

    }
    
    .level3{
        display: none;
        left: 100%;
        // overflow: hidden;
        position: absolute;
        top: 0;
        
        &:before{
            box-shadow: 0 1px 15px rgba(0, 0, 0, 0.5);
            content: '';
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 1px;
            z-index: 1;
        }
    }
    
    .level4{
        display: none;
        left: 100%;
        position: absolute;
        top: 0;
    }
    
    .item-level1{
        height: 100%;
        position: relative;
        display: inline-block;

        &:hover{
            
            .link-level1{
                background: #c94532;
                color:#fff;

                &::after{
                    background: url(../img/seta-menu.png) no-repeat 50% 100%;
                }
            }
            
            .level2{
                display: block;
            }
        }
        
        &.sub-left{
            
            .level2{
                left: auto;
                right: 0;
            }
            
            .level3{
                left: auto;
                right: 100%;
                
                &:before{
                    left: auto;
                    right: 0;
                }
            }
            
            .level4{
                left: auto;
                position: absolute;
                top: 0;
                right: 100%;
            }
        }
    }
    
    .item-level2{
        position: relative;
        width: 100% !important;
        min-width: 200px;
        float: left;
        
        &:hover{
            
            .level3{
                display: block;
            }
            
            .link-level2{
                text-decoration: none;
                color: #60525f;
                font-weight: bold;
            }
        }
        
        &:last-child{
        }
    }
    
    .item-level3{
        position: relative;
        
        &:hover{
            
            .level4{
                display: block;
            }
            
            .link-level3{
                text-decoration: none;
            }
        }
    }
    
    .link-level1{
        color: #60525f;
        display: block;
        font-size: 0;
        height: 100%;
        overflow: hidden;
        position: relative;
        text-align: center;
        padding: 0 20px;
        
        &:hover{
            text-decoration: none;
        }
        
        span{
            display: inline-block;
            // max-width: 99%;
            vertical-align: middle;
            @include typo(1.6rem, 400, $font3, 70px);
            text-transform: uppercase;
        }
        
        &::after{
            content: ' ';
            display: inline-block;
            height: 20px;
            vertical-align: middle;
            width: 20px;
            background: url(../img/seta-menu.png) no-repeat 50% 0%;
            margin-left:5px;
        }
    }
    
    .link-level2{
        background: #c94532;
        color: #fff;
        display: block;
        padding: 10px 30px;
        white-space: nowrap;
        @include typo(1.4rem, 400, $font, 3rem);
        text-align: left;
        
        &:hover{
            text-decoration: none;
        }
    }
    
    .link-level3,
    .link-level4{
        background: #fff;
        color: #ababab;
        display: block;
        padding: 10px 30px;
        white-space: nowrap;
        @include typo(1.4rem, 400, $font, 1.8rem);
        text-align: left;
        
        &:hover{
            text-decoration: none;
        }
    }
}