.product{
    display: block;
    padding-top: 15px;
    padding-bottom: 20px;
    position: relative;
        
    a,
    a:hover
    a:focus,
    a:active{
        position: relative;
        outline: none;
        text-decoration: none;
        z-index: 1;
    }
        
    > div{
        border: 1px solid #ebebeb;
        @extend .transition;
    }
    
    .product-image{
        background: #fff;
        font-size: 0;
        height: 180px;
        margin-bottom: 15px;
        position: relative;
        text-align: center;
        
        &:before{
            content: '';
            display: inline-block;
            height: 180px;
            margin-right: -1%;
            vertical-align: middle;
            width: 1%;
        }
        
        img{
            display: inline-block;
            max-height: 100%;
            max-width: 100%;
            vertical-align: middle;
        }
    }
    
    .product-name{
        color: #3d4445;
        display: block;
        margin-bottom: 15px;
        overflow: hidden;
        padding: 0 15px;
        position: relative;
        text-overflow: ellipsis;
        white-space: nowrap;
        z-index: 1;
        @include typo(1.6rem, 400, $font, 2rem);
    }
    
    &:hover{
        
        .product-name{
            text-overflow: initial;
            white-space: initial;
        }
        
        .product-seemore{
            text-indent: 0;
            width: 80%;
        }
    }
    
    .product-price{
        color: #000;
        display: block;
        margin-bottom: 5px;
        padding: 0 15px;
        position: relative;
        z-index: 1;
        @include typo(2rem, 700, $font, 2rem);
        
        .price{
            color: #ccc;
            font-size: 2rem;
            font-weight: 400;
            left: 0;
            position: absolute;
            text-decoration: line-through;
            top: -18px;
        }
    }
    
    .product-payment{
        color: #000;
        display: block;
        height: 28px;
        margin-bottom: 15px;
        overflow: hidden;
        padding: 0 15px;
        position: relative;
        z-index: 1;
        @include typo(1.4rem, 400, $font, 1.4rem);
        
        @media screen and (max-width: $sm){
            margin-bottom: 7px;
        }
        
        > br:first-child{
            display: none;
        }
        
        span,
        strong{
            color: #000;
            @include typo(1.4rem, 400, $font, 1.4rem);
            
            @media screen and (max-width: $sm){
                @include typo(1.2rem, 400, $font, 1.2rem);
            }
        }
    }
    
    .product-seemore{
        background: #42cb6f;
        border-radius: 40px;
        color: #fff;
        display: block;
        height: 40px;
        margin: 0 auto -20px;
        overflow: hidden;
        text-align: center;
        text-indent: -100%;
        width: 40px;
        white-space: nowrap;
        @extend .transition;
        @include typo(1.8rem, 400, $font, 4rem);
        
        i{
            background: #3bb85d;
            border-radius: 40px;
            float: right;
            height: 40px;
            line-height: 37px;
            text-align: center;
            text-indent: 0;
            width: 40px;
            
            img{
                display: inline-block;
            }
        }
    }
    
    .compare-buttons{
        position: relative;
        z-index: 10;
        margin-bottom: 10px;
        text-align: center;
        @extend .transition;
    }
}