/**
 * Search
 */

.wrap-search{
    .col-sm-9{
        padding: 0;
    }
}

.search{
    position: relative;
    margin-top: 15px;

    @media screen and (max-width: $sm){
        margin-top: 0;
    }
    
    form{
        border-radius: 50px;
        
        @media screen and (max-width: $sm){
            border: none;
            background: #fff;
            margin-top: 8px;
            padding-right: 0;
        }
    
        > div{
            overflow: hidden;
        }
    }
    
    .search-button{
        border: none;
        border-radius: 0 50px 50px 0;
        height: 50px;
        padding: 0;
        width: 70px;
        position: absolute;
        right: 0px;
        background: #c94532;
    }
    
    .search-key{
        background: #fff;
        border:none;
        color: #676767;
        height: 50px;
        font-size: 1.6rem;
        padding: 16px 25px 16px 25px;
        width: 100%;
        border-radius: 50px;
        -moz-border-radius: 50px;
        
        @media screen and (max-width: $sm){
            border: none;
        }
    }
}