<div class="customer customer-1">
        <div class="row">
            <div class="col-sm-8 login pull-left" data-tray-tst="saudacao">
                <span class="tray-hide" data-logged-user="true">
                    Bem-vindo <span data-customer="name"></span>,
                    <a href="{{ links.logout }}"> clique aqui para sair</a></li>
                </span>
                <span class="tray-hide" data-logged-user="false">
                    Bem-vindo, fa&ccedil;a seu <a href="{{ links.login }}" data-tray-tst="login">login</a> ou <a href="{{ links.register }}" data-tray-tst="cadastro">cadastre-se</a>
                </span>
            </div>
            <div class="col-sm-4 pull-right orders">
                <span class="tray-hide" data-logged-user="true">
                    <a href="{{ links.logout }}">Logout</a>
                </span>
                <span class="tray-hide" data-logged-user="false">
                    <a href="{{ links.login }}">Login</a>
                </span>
                <a href="{{ links.orders }}" data-tray-tst="meus_pedidos">Meus pedidos</a>
                <a href="{{ links.central }}" data-tray-tst="meu_cadastro">Minha conta</a>
            </div>
        </div>

</div>