<section class="newsletter newsletter-1" data-tray-tst="newsletter_box">
	<div class="info-news col-sm-6 col-xs-12">
	    <h2 class="newsletter-title pull-left col-sm-5">
	    	Cadastre-se <span>e ganhe</span>
	    </h2>
	    <p class="col-sm-7">Faça seu cadastro em nosso informativo e ganhe um cupom de 5% de desconto na sua primeira compra.</p>
	</div>
	
	<div class="form-news col-sm-6 col-xs-12 pull-right">
	    <form action="{{ links.newsletter }}" method="post" name="newsletter" data-tray-tst="newsletter_form">
	        <input name="email" type="email" placeholder="Digite seu e-mail" data-tray-tst="newsletter_email">
	        <button data-tray-tst="newsletter_cadastrar">Ok</button>
	    </form>
	</div>
</section>