<div class="product-price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
    {% if product.available %} 
        {% if product.stock > 0 %} 
            
            {% if product.upon_request %}
                <p>Sob Consulta</p>
            {% else %}
            
            {% set price = product.price_offer > 0 ? product.price_offer : product.price %}
                <span itemprop="price" itemprop="price" content="{{ product.price }}">R$ {{ price|currency }}</span>
                <meta itemprop="priceCurrency" content="BRL"> 
            {% endif %} 
            
        {% elseif settings.without_stock_sale %}
            {% set price = product.price_offer > 0 ? product.price_offer : product.price %}
                <span itemprop="price" itemprop="price" content="{{ product.price }}">R$ {{ price|currency }}</span>
                <meta itemprop="priceCurrency" content="BRL"> 
        {%else %}
            <p>Esgotado!</p>
        {% endif %} 
        
    {% else %}
        <p>Produto indispon&iacute;vel</p>
    {% endif %}
</div>