<div itemscope itemtype="http://schema.org/Product">
    <a href="{{ product.link }}">
        <div class="product-image">
            {% if product.images %}
                {% if pages.current != 'home' %}
                    <img class="lazy" src="{{ product.images[0].large }}" alt="{{ product.name }}">
                {% else %}
                    <img class="lazy" data-lazy="{{ product.images[0].large }}" src="" alt="{{ product.name }}">
                {% endif %}
            {% else %}
                <img src="{{ asset('img/no-image.svg') }}" alt="Nenhuma imagem foi cadastrada" width="100">
            {% endif %}
        </div>
    
        <div class="product-name" itemprop="name">{{ product.name }}</div>
    
        {% element 'snippets/price' {"product": product} %}
    
        <div class="product-payment">
            {{ product.payment }}
        </div>
    </a>
    
    {% if pages.current == 'catalog' %}
    <div class="compare-buttons">
        {% set compareCSS = 'compare-hidden' %}

        <a data-compare="remove" href="{{ links.compare_delete ~ product.id }}" class="{{ not product.compare ? compareCSS }}">
            <span class="filter-checkbox checked"></span>
            {{ Translation("remover_comparar") }}
        </a>
        
        <a data-compare="add" href="{{ links.compare_add  ~ product.id }}" class="{{ product.compare ? compareCSS }}">
            <span class="filter-checkbox"></span>
            {{ Translation("comparar_produto") }}
        </a>
    </div>
    {% endif %}
    
    <a href="{{ product.link }}" class="product-seemore">
        <i><img src="{{ asset('img/cart.svg') }}" alt="Ver mais" width="17"></i>
        Ver mais
    </a>
</div>