<div class="search search-1">
    <form role="form" action="{{ links.search }}" method="get" data-search="suggestion" data-tray-tst="form_busca">
        <input type="hidden" name="loja" value="{{ store.id }}">
        <button class="search-button pull-right" type="submit" tabindex="2" data-tray-tst="botao_buscar">            
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#fff" viewBox="0 0 425.946 425.947"><path fill-rule="evenodd" clip-rule="evenodd" d="M425.946 383.953v11.998c-2.137 4.951-3.713 10.256-6.533 14.781-5.344 8.578-13.937 12.764-23.463 15.215h-11.998c-11.159-2.779-18.965-10.328-26.738-18.211-21.645-21.945-43.544-43.641-65.334-65.443-6.82-6.824-13.609-13.678-20.274-20.379-.684.148-1.046.146-1.318.303-1.012.576-1.992 1.205-2.986 1.813-34.293 20.967-71.452 29.387-111.395 25.096-71.763-7.71-131.683-59.148-149.92-128.865-2.68-10.249-4.025-20.848-5.987-31.284V160.98c.619-3.73 1.329-7.448 1.843-11.193 9.558-69.6 62.899-128.491 131.326-144.695 9.158-2.168 18.535-3.417 27.811-5.091h27.997c4.906.745 9.824 1.415 14.717 2.244C310.71 20.37 375.76 128.979 340.724 231.685c-4.688 13.743-11.848 26.643-18.322 40.952.169.125 1.503.887 2.553 1.934 27.595 27.549 55.077 55.209 82.783 82.645 7.866 7.787 15.421 15.582 18.208 26.737zM289.465 175.199c.034-63.041-50.842-114.128-113.892-114.362C112.064 60.6 60.76 111.772 60.836 175.278c.075 63.063 50.884 113.922 114.068 114.184 63.033.262 114.527-51.099 114.561-114.263z"/></svg>
        </button>
        <div>
            <input class="search-key" type="search" placeholder="Busca" name="palavra_busca" data-input="suggestion" tabindex="1" data-tray-tst="busca_palavra" required>
        </div>
    </form>
</div>