{% set checkout = "checkout" in pages.current ? "true" : "false" %}
<footer> 
    
    {% if settings.store_rating %}
        {% if checkout == "false" and pages.current != "depoimentos" %}
        <div class="container {{pages.current}}">
            <div class="foo-rating">
                <h4>As melhores</h4>
                <h3>Avalia&ccedil;&otilde;es</h3>
                {% element 'CustomerReview.reviews' %}
            </div>
        </div>
        {% endif %}
    {% endif %}
    
    {% if checkout == "false" %}
        {% if settings.store_top_search %}
            <div class="container">
                <div class="tagcloud">
                    <h4>As palavras</h4>
                    <h3>Mais buscadas</h3>
                    {% element 'snippets/tagcloud' %}
                </div>
            </div>
        {% endif %}
    {% endif %}
    
    <div class="news-full">
        <div class="container ">
            {% element 'snippets/newsletter' %}
        </div>
    </div>
    
    <div class="foo-content">
        <div class="container">
            <div class="col-sm-6 col-md-3 col-xs-12">
                <h3>Institucional</h3>
                <ul class="links-list">
                    {% for custom in pages.custom %}
                        <li>
                            <a href="{{ custom.url }}">{{ custom.name }}</a>
                        </li>
                    {% endfor %}
                    <li>
                        <a href="{{ links.contact }}" data-tray-tst="fale_conosco">Contato</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-4 col-xs-12 foo-contact">
                <div class="contact-infos">

                    <h3>Contato</h3>
                    <ul>
                        <li class="store-email">
                            <i>
                                <svg width="25" height="25" version="1.1" fill="#c94433" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 489.66 343.793" enable-background="new 0 0 489.66 343.793" xml:space="preserve"><g><path d="M489.66,32.781v-1.906c0-7.078-3.215-15.406-8.984-21.176l-0.652-0.656c0,0-0.656,0-0.656-0.652c-1.309-1.313-2.559-1.907-3.867-3.215c-0.652,0-0.652-0.653-1.309-0.653c-1.309-0.656-3.211-1.312-4.52-1.906c-0.656,0-0.656-0.652-1.309-0.652c-1.906-0.656-3.867-1.309-5.773-1.309h-1.309c-1.902,0-4.52-0.656-7.078-0.656H34.742c-2.558,0-5.117,0-7.734,0.656c-0.653,0-1.309,0-1.903,0.653c-1.906,0.656-3.867,0.656-5.117,1.308c-0.656,0-0.656,0.656-1.308,0.656c-1.309,0.653-3.215,1.309-4.524,1.903l-0.652,0.656c-1.309,0.652-2.559,1.902-3.867,2.559L7.73,10.293C3.211,15.41,0.656,21.238,0,27.664v288.524c1.309,8.983,5.77,16.718,12.195,21.179c5.77,3.867,12.848,6.426,21.18,6.426h422.793c1.902,0,4.52,0,6.422-0.655h1.309c1.906-0.653,3.867-0.653,5.117-1.31h0.656c14.156-5.117,19.926-17.371,19.926-28.91V33.375C489.66,33.434,489.66,33.434,489.66,32.781L489.66,32.781z M448.551,23.797L246.168,221.004l-46.281-44.973L41.168,23.738h407.383V23.797z M23.855,307.146V39.859l149.676,143.907L23.855,307.146z M239.742,320.59H45.035l145.867-119.512l46.879,45.629c1.903,1.902,3.867,2.56,5.77,3.211h3.926c1.902-0.651,4.52-1.309,5.77-3.211l44.32-43.069l146.465,116.956H239.742V320.59z M465.863,307.742L315.535,186.324L465.863,39.859V307.742z M465.863,307.742"/></g></svg>
                            </i>
                            <p data-tray-tst="contato_email">
                                {{ Translation('ag_email_1') }}
                                {% if Translation('ag_telefone_2')%}<br>{% endif %}
                                {{ Translation('ag_email_2') }}
                            </p>
                        </li>
                        <li class="store-phones">
                            <i>
                                <svg width="25" height="25" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" fill="#c94433" x="0px" y="0px" viewBox="0 0 202.592 202.592" style="enable-background:new 0 0 202.592 202.592;" xml:space="preserve"><g><g><path d="M198.048,160.105l-31.286-31.29c-6.231-6.206-16.552-6.016-23.001,0.433l-15.761,15.761    c-0.995-0.551-2.026-1.124-3.11-1.732c-9.953-5.515-23.577-13.074-37.914-27.421C72.599,101.48,65.03,87.834,59.5,77.874    c-0.587-1.056-1.145-2.072-1.696-3.038l10.579-10.565l5.2-5.207c6.46-6.46,6.639-16.778,0.419-23.001L42.715,4.769    c-6.216-6.216-16.541-6.027-23.001,0.433l-8.818,8.868l0.243,0.24c-2.956,3.772-5.429,8.124-7.265,12.816    c-1.696,4.466-2.752,8.729-3.235,12.998c-4.13,34.25,11.52,65.55,53.994,108.028c58.711,58.707,106.027,54.273,108.067,54.055    c4.449-0.53,8.707-1.593,13.038-3.275c4.652-1.818,9.001-4.284,12.769-7.233l0.193,0.168l8.933-8.747    C204.079,176.661,204.265,166.343,198.048,160.105z M190.683,176.164l-3.937,3.93l-1.568,1.507    c-2.469,2.387-6.743,5.74-12.984,8.181c-3.543,1.364-7.036,2.24-10.59,2.663c-0.447,0.043-44.95,3.84-100.029-51.235    C14.743,94.38,7.238,67.395,10.384,41.259c0.394-3.464,1.263-6.95,2.652-10.593c2.462-6.277,5.812-10.547,8.181-13.02l5.443-5.497    c2.623-2.63,6.714-2.831,9.112-0.433l31.286,31.286c2.394,2.401,2.205,6.492-0.422,9.13L45.507,73.24l1.95,3.282    c1.084,1.829,2.23,3.879,3.454,6.106c5.812,10.482,13.764,24.83,29.121,40.173c15.317,15.325,29.644,23.27,40.094,29.067    c2.258,1.249,4.32,2.398,6.17,3.5l3.289,1.95l21.115-21.122c2.634-2.623,6.739-2.817,9.137-0.426l31.272,31.279    C193.5,169.446,193.31,173.537,190.683,176.164z" /></g></svg>
                            </i>
                            <p data-tray-tst="contato_telefone">
                                {{ Translation('ag_telefone_1') }}
                                
                                {% if Translation('ag_telefone_2')%}<br>{% endif %}
                                {{ Translation('ag_telefone_2') }}
                            </p>
                        </li>
                        {% if Translation('ag_atendimento')%}
                        <li class="open-info">
                            <i>
                                <svg width="25" height="25" version="1.1" fill="#4b8cdc" style="margin-top: -3px;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 358.398 409.602" enable-background="new 0 0 358.398 409.602" xml:space="preserve"><g><path d="M179.199,51.199C80.23,51.199,0,131.43,0,230.397c0,98.974,80.23,179.204,179.199,179.204c98.969,0,179.2-80.23,179.2-179.204C358.398,131.43,278.168,51.199,179.199,51.199L179.199,51.199z M179.199,374.397c-79.527,0-144-64.468-144-144c0-79.526,64.473-144,144-144c79.532,0,144,64.473,144,144C323.199,309.93,258.73,374.397,179.199,374.397L179.199,374.397z M348.313,114.871c6.418-11.223,10.086-24.219,10.086-38.07C358.398,34.383,324.016,0,281.602,0c-24.73,0-46.723,11.687-60.77,29.84C273.586,40.734,318.914,71.918,348.313,114.871L348.313,114.871z M137.566,29.84C123.523,11.687,101.527,0,76.801,0C34.383,0,0,34.383,0,76.801c0,13.851,3.668,26.847,10.086,38.07C39.488,71.918,84.816,40.734,137.566,29.84L137.566,29.84z M153.602,128h25.597v128h-25.597V128z M179.199,230.397H256V256h-76.801V230.397z M179.199,230.397"/></g></svg>
                            </i>
                            <p data-tray-tst="horario_atendimento">{{ Translation('ag_atendimento') }}</p>
                        </li>
                        {% endif %}
                    </ul>

                </div>
                    
                <div class="social-infos">

                    <h3>Siga-nos</h3>
                    <ul class="social-list">

                    {% if settings.social_facebook %}
                        <li class="social-icon">
                            <a href="{{ settings.social_facebook }}" target="_blank" rel="external">
                                <svg version="1.1" fill="#c94433" width="44" height="44" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 410.053 410.057" enable-background="new 0 0 410.053 410.057" xml:space="preserve"><g><path fill-rule="evenodd" clip-rule="evenodd" d="M252.825,171.875H217.2v-26c0-7.976,8.25-9.824,12.102-9.824h23.012v-35.086l-26.375-0.141c-35.985,0-44.2,26.164-44.2,42.938v28.113h-26.113v36.153h26.113v97.598H217.2v-97.598h30.125L252.825,171.875z M252.825,171.875"/></g><g><path fill-rule="evenodd" clip-rule="evenodd" d="M410.053,205.022C410.053,91.809,318.23,0,205.026,0C91.81,0,0,91.809,0,205.022s91.81,205.035,205.026,205.035C318.23,410.057,410.053,318.235,410.053,205.022L410.053,205.022z M18.669,205.022c0-102.917,83.436-186.366,186.357-186.366c102.926,0,186.375,83.449,186.375,186.366c0,102.936-83.449,186.375-186.375,186.375C102.104,391.397,18.669,307.958,18.669,205.022L18.669,205.022z M18.669,205.022"/></g></svg>
                            </a>
                        </li>
                    {% endif %}
                    {% if settings.social_twitter %}
                        <li class="social-icon">
                            <a href="{{ settings.social_twitter }}" target="_blank" rel="external">
                                <svg version="1.1" fill="#c94433" width="44" height="44" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 412.053 412.057" enable-background="new 0 0 412.053 412.057" xml:space="preserve"><g><path d="M307.626,136.164c-3.449,2.051-13.797,6.137-23.449,7.16c6.188-3.589,15.352-15.359,17.613-24.711c-5.949,4.086-19.613,10.051-26.359,10.051c0,0,0,0.02,0.012,0.032c-7.703-8.668-18.527-14.071-30.555-14.071c-23.324,0-42.246,20.371-42.246,45.5c0,3.488,0.383,6.875,1.086,10.137h-0.016c-31.648-0.875-68.648-17.957-89.5-47.199c-12.797,23.883-1.723,50.437,12.813,60.113c-4.961,0.414-14.137-0.613-18.45-5.125c-0.3,15.836,6.79,36.84,32.59,44.449c-4.976,2.891-13.754,2.063-17.586,1.426c1.348,13.398,18.746,30.898,37.758,30.898c-6.773,8.426-29.898,23.766-58.512,18.875c19.442,12.754,42.102,20.125,66.09,20.125c68.165,0,121.098-59.484,118.25-132.872c0-0.09-0.027-0.175-0.027-0.254c0-0.199,0.027-0.398,0.027-0.574c0-0.222-0.027-0.449-0.027-0.687C293.341,154.887,301.665,146.813,307.626,136.164L307.626,136.164z M307.626,136.164"/></g><g><path fill-rule="evenodd" clip-rule="evenodd" d="M412.053,206.022C412.053,92.257,319.782,0,206.026,0C92.257,0,0,92.257,0,206.022c0,113.766,92.257,206.035,206.026,206.035C319.782,412.057,412.053,319.788,412.053,206.022L412.053,206.022z M18.76,206.022c0-103.419,83.842-187.275,187.266-187.275c103.428,0,187.284,83.855,187.284,187.275c0,103.438-83.856,187.284-187.284,187.284C102.603,393.306,18.76,309.459,18.76,206.022L18.76,206.022z M18.76,206.022"/></g></svg>
                            </a>
                        </li>
                    {% endif %}
                    {% if settings.social_blogger %}
                        <li class="social-icon">
                            <a href="{{ settings.social_blogger }}" target="_blank" rel="external">
                                <svg version="1.1" fill="#c94433" width="44" height="44" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"viewBox="0 0 410.256 410.26" enable-background="new 0 0 410.256 410.26" xml:space="preserve"><g><path d="M294.79,180.505h-9.398c-12.777,0-14.988-11.352-14.988-11.352l0.301,0.211c-1.5-36.637-29.34-65.723-67.375-65.961v0.051h-30.852h0.449c-37.91,0.238-68.5,30.449-68.5,68.398v-0.137v68.274c0,37.926,30.426,68.016,68.477,68.238v0.027h68.461v-0.051c34.238-0.699,67.863-30.289,67.863-68.215v-46.012C309.228,186.704,302.103,180.505,294.79,180.505L294.79,180.505z M169.079,154.329c0.097,0,0.023,0.011,0.023,0.011l38.024,0.012v-0.012c7.601,0.165,12.449,7.086,12.449,13.79c0,6.699-4.848,12.375-12.449,12.375h-38.5c-6.825,0-13.75-5.778-13.75-12.579C154.876,161.13,162.278,154.329,169.079,154.329L169.079,154.329z M239.353,257.551h-70.25v-0.398h-0.472c-6.829,0-13.641-6.551-13.641-13.363c0-6.801,6.789-12.199,13.613-12.199h0.375h-0.023h71.199h-0.199c7.625,0,11.648,6.074,11.648,12.785C251.603,251.079,246.966,257.551,239.353,257.551L239.353,257.551z M239.353,257.551"/></g><g><path fill-rule="evenodd" clip-rule="evenodd" d="M410.256,205.124C410.256,91.855,318.388,0,205.128,0C91.855,0,0,91.855,0,205.124C0,318.393,91.855,410.26,205.128,410.26C318.388,410.26,410.256,318.393,410.256,205.124L410.256,205.124z M18.678,205.124c0-102.968,83.477-186.458,186.45-186.458c102.978,0,186.468,83.49,186.468,186.458c0,102.985-83.49,186.468-186.468,186.468C102.155,391.591,18.678,308.109,18.678,205.124L18.678,205.124z M18.678,205.124"/></g></svg>
                            </a>
                        </li>
                    {% endif %}
                    {% if settings.social_youtube %}
                        <li class="social-icon">
                            <a href="{{ settings.social_youtube }}" target="_blank" rel="external">
                                <svg version="1.1" fill="#c94433" width="44" height="44" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 46.053 46.053" enable-background="new 0 0 46.053 46.053" xml:space="preserve"><g><path d="M36.9,20.7c0-0.6-0.1-1.3-0.1-2.1c-0.1-0.9-0.2-1.6-0.3-2.3c-0.2-0.8-0.5-1.4-1.1-1.9 c-0.6-0.5-1.2-0.8-1.9-0.9C31.2,13.2,27.7,13,23,13c-4.7,0-8.2,0.1-10.5,0.4c-0.7,0.1-1.4,0.4-1.9,0.9c-0.6,0.5-0.9,1.2-1.1,1.9 c-0.2,0.7-0.3,1.4-0.4,2.3c-0.1,0.9-0.1,1.6-0.1,2.1C9,21.2,9,22,9,23s0,1.8,0,2.3c0,0.6,0.1,1.3,0.1,2.1c0.1,0.9,0.2,1.6,0.3,2.3 c0.2,0.8,0.5,1.4,1.1,1.9c0.6,0.5,1.2,0.8,1.9,0.9C14.8,32.8,18.3,33,23,33c4.7,0,8.2-0.1,10.5-0.4c0.7-0.1,1.4-0.4,1.9-0.9 c0.6-0.5,0.9-1.2,1.1-1.9c0.2-0.7,0.3-1.4,0.4-2.3c0.1-0.9,0.1-1.6,0.1-2.1c0-0.6,0-1.3,0-2.3S37,21.2,36.9,20.7L36.9,20.7z M28.5,23.8l-8,5C20.4,28.9,20.2,29,20,29c-0.2,0-0.3,0-0.5-0.1C19.2,28.7,19,28.4,19,28V18c0-0.4,0.2-0.7,0.5-0.9 c0.4-0.2,0.7-0.2,1,0l8,5c0.3,0.2,0.5,0.5,0.5,0.8C29,23.4,28.8,23.7,28.5,23.8L28.5,23.8z M28.5,23.8"></path></g><g><path fill-rule="evenodd" clip-rule="evenodd" d="M46.053,23.026C46.053,10.311,35.74,0,23.026,0C10.311,0,0,10.311,0,23.026C0,35.74,10.311,46.053,23.026,46.053C35.74,46.053,46.053,35.74,46.053,23.026L46.053,23.026z M2.097,23.026c0-11.559,9.371-20.931,20.93-20.931c11.56,0,20.932,9.372,20.932,20.931c0,11.56-9.372,20.932-20.932,20.932C11.467,43.958,2.097,34.586,2.097,23.026L2.097,23.026z M2.097,23.026"></path></g></svg>
                            </a>
                        </li>
                    {% endif %}
                    {% if settings.social_pinterest %}
                        <li class="social-icon">
                            <a href="{{ settings.social_pinterest }}" target="_blank" rel="external">
                                <svg version="1.1" fill="#c94433" width="44" height="44" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"viewBox="0 0 17.602 17.602" enable-background="new 0 0 17.602 17.602" xml:space="preserve"><g><path fill-rule="evenodd" clip-rule="evenodd" d="M12.863,7.246c0-1.824-1.516-3.523-3.816-3.523c-2.863,0-4.309,2.097-4.309,3.843c0,1.059,0.395,2,1.235,2.352c0.136,0.059,0.261,0,0.3-0.152c0.028-0.11,0.094-0.383,0.125-0.496c0.04-0.153,0.024-0.208-0.086-0.344C6.066,8.633,5.914,8.258,5.914,7.719c0-1.555,1.141-2.946,2.965-2.946c1.621,0,2.512,1.008,2.512,2.36c0,1.773-0.77,3.27-1.914,3.27c-0.629,0-1.102-0.532-0.95-1.184c0.18-0.782,0.532-1.621,0.532-2.184c0-0.504-0.266-0.926-0.813-0.926c-0.644,0-1.164,0.684-1.164,1.594c0,0.582,0.195,0.973,0.195,0.973s-0.66,2.855-0.777,3.355c-0.105,0.453-0.121,0.953-0.105,1.375c0.043,0.379,0.41,0.688,0.73,0.273c0.223-0.367,0.465-0.828,0.59-1.289c0.074-0.273,0.422-1.691,0.422-1.691c0.211,0.406,0.824,0.766,1.472,0.766C11.547,11.465,12.863,9.66,12.863,7.246L12.863,7.246z M12.863,7.246"/><path fill-rule="evenodd" clip-rule="evenodd" d="M17.602,8.801C17.602,3.941,13.66,0,8.801,0C3.941,0,0,3.941,0,8.801c0,4.859,3.941,8.801,8.801,8.801C13.66,17.602,17.602,13.66,17.602,8.801L17.602,8.801z M0.801,8.801c0-4.418,3.582-8,8-8s8,3.582,8,8s-3.582,8-8,8S0.801,13.219,0.801,8.801L0.801,8.801z M0.801,8.801"/></g></svg>
                            </a>
                        </li>
                    {% endif %}
                    {% if settings.social_instagram %}
                        <li class="social-icon">
                            <a href="{{ settings.social_instagram }}" target="_blank" rel="external">
                                <svg version="1.1" fill="#c94433" width="44" height="44" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 46.053 46.053" enable-background="new 0 0 46.053 46.053" xml:space="preserve"><g><path d="M35.417,13.208c-0.152-1.477-1.375-2.582-2.863-2.582c-6.348,0-12.696,0-19.047,0.004c-0.172,0-0.348,0.011-0.516,0.043c-1.406,0.269-2.363,1.433-2.363,2.863v9.496c0,3.157,0,6.317,0,9.473c0,0.16,0.012,0.324,0.035,0.484c0.184,1.371,1.403,2.438,2.789,2.438c6.383,0,12.77,0,19.153,0c0.109,0,0.219-0.008,0.328-0.02c1.402-0.164,2.492-1.391,2.492-2.801c0-6.383,0-12.77,0-19.152C35.425,13.372,35.429,13.29,35.417,13.208L35.417,13.208z M23.026,18.259c2.637,0,4.77,2.128,4.774,4.765c0,2.637-2.129,4.77-4.766,4.774c-2.64,0-4.777-2.137-4.773-4.778C18.265,20.395,20.398,18.259,23.026,18.259L23.026,18.259z M32.569,21.251v10.277c0,0.645-0.391,1.039-1.035,1.039H15.64c-0.383,0-0.762,0.004-1.145,0c-0.597,0-1.004-0.406-1.004-1.004c0-3.441,0-6.883,0-10.325V21.13h2.153c-0.481,1.941-0.262,3.801,0.691,5.559c0.695,1.285,1.691,2.281,2.961,3c2.512,1.418,5.637,1.281,8.027-0.352c1.324-0.906,2.277-2.113,2.848-3.617c0.566-1.5,0.637-3.032,0.242-4.594h2.156C32.569,21.169,32.569,21.208,32.569,21.251L32.569,21.251z M32.569,17.282c0,0.566-0.414,0.978-0.98,0.978h-1.406c-0.469,0-0.941,0-1.414,0c-0.543,0-0.965-0.407-0.969-0.95c-0.004-0.957-0.004-1.91,0-2.867c0.004-0.547,0.426-0.949,0.977-0.953c0.941,0,1.879,0,2.82,0c0.559,0.004,0.973,0.414,0.973,0.977C32.573,15.403,32.573,16.344,32.569,17.282L32.569,17.282z M32.569,17.282"/></g><g><path fill-rule="evenodd" clip-rule="evenodd" d="M46.053,23.026C46.053,10.311,35.74,0,23.026,0C10.311,0,0,10.311,0,23.026C0,35.74,10.311,46.053,23.026,46.053C35.74,46.053,46.053,35.74,46.053,23.026L46.053,23.026z M2.097,23.026c0-11.559,9.371-20.931,20.93-20.931c11.56,0,20.932,9.372,20.932,20.931c0,11.56-9.372,20.932-20.932,20.932C11.467,43.958,2.097,34.586,2.097,23.026L2.097,23.026z M2.097,23.026"/></g></svg>
                            </a>
                        </li>
                    {% endif %}

                    </ul>

                </div>
                    
            </div>
            <div class="col-sm-6 col-md-5 col-xs-12 payment-gateways">
                <div class="pay-infos">
                    <h3>Pagamento</h3>
                    {% element 'payment-list' %}
                </div>
                
                <div class="security-infos">
                    <h3>Seguran&ccedil;a</h3>
                    <ul class="foo-seals">
                        {% if seals.ebit %}
                            <li class="seal-ebit pull-left">{{ seals.ebit }}</li>
                        {% endif %}
                        {% if seals.hackersafe %}
                            <li>{{ seals.hackersafe }}</li>
                        {% endif %}
                        {% if settings.google_safe %}
                        <li>
                            <a href="https://www.google.com/transparencyreport/safebrowsing/diagnostic/?hl=pt-BR#url={{ store.url }}" class="google-safe" target="_blank">
                                <img src="{{ asset('img/google-safe-browsing.png') }}" alt="Google Safe Browsing">
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    

    
    <div class="foo-message">
        <div class="container">
            <span class="message-footer">
                {{ Translation('ag_mensagem_rodape') }}
            </span>
        </div>
    </div>
</footer>