<header>
    <div class="container">
        <div class="col-sm-3 wrap-logo">
            <a href="{{ links.home }}" class="site-logo" data-tray-tst="logotipo_loja">
                {{ Image('logo') }}
            </a>
        </div>
        <div class="col-sm-9 clearfix wrap-search">
            <div class="row">
                {% element 'snippets/customer' %}
            </div>
            <div class="row">
                <div class="col-sm-9 hidden-xs">
                    {% element 'snippets/search' %}
                </div>
                <div class="col-sm-3 wrapper-cart">
                    {% element 'snippets/cart' %}
                </div>
            </div>
        </div>


<!-- codigo velho -->
        <div class="wrapper-nav clearfix visible-xs-block">
            <div class="col-xs-2">
                <button class="trigger-menu">
                    <svg version="1.1" fill="#fff" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="23" height="19" viewBox="0 0 58.535 49.293" enable-background="new 0 0 58.535 49.293" xml:space="preserve"><g><path d="M3.395,6.918h51.746c1.875,0,3.395-1.547,3.395-3.457S57.016,0,55.141,0H3.395C1.52,0,0,1.551,0,3.461C0,5.375,1.52,6.918,3.395,6.918L3.395,6.918z M55.141,21.188H3.395C1.52,21.188,0,22.738,0,24.645c0,1.917,1.52,3.46,3.395,3.46h51.746c1.875,0,3.395-1.547,3.395-3.46C58.535,22.738,57.016,21.188,55.141,21.188L55.141,21.188z M55.141,42.371H3.395C1.52,42.371,0,43.926,0,45.832c0,1.914,1.52,3.461,3.395,3.461h51.746c1.875,0,3.395-1.547,3.395-3.461C58.535,43.926,57.016,42.371,55.141,42.371L55.141,42.371z M55.141,42.371"/></g></svg>
                </button>
            </div>
            <div class="col-xs-8">
                {% element 'snippets/search' %}
            </div>
            <div class="col-xs-2 wrapper-cart">
                {% element 'snippets/cart' %}
            </div>
        </div>
    </div>
</header>