<div class="row">
    <div class="payment-list payment-before col-sm-6">
        <h5>&Agrave; Vista</h5>
        {% for payment in paymentMethods.order %}
            <div class="col-sm-3 col-xs-2 payment-form">
                <img src="{{ payment.thumbnail.url }}" alt="{{ payment.display_name }}">
            </div>
        {% endfor %}
    </div>

    <div class="payment-list payment-after col-sm-6">
        <h5>&Agrave; Prazo</h5>
        {% for payment in paymentMethods.credit %}
            <div class="col-sm-3 col-xs-2 payment-form">
                <img src="{{ payment.thumbnail.url }}" alt="{{ payment.display_name }}">
            </div>
        {% endfor %} 
    </div>
</div>