{% if products|length > 0 %}
    <div class="showcase-catalog clearfix col-sm-12 col-md-12">
        <ul class="showcase-list row">
        {% for product in products %}
            {% set ranking = product.ranking %}
            <li class="product col-sm-4 col-xs-12">
                {% element 'snippets/product' {"product": product} %}
            </li>
            
            {% if loop.index is divisible by(3) %}
            </ul><ul class="showcase-list row">
            {% endif %}
        {% endfor %}
        </ul>
    </div>
{% endif %}