{% if products|length > 0 %}
    <div class="showcase">
        <h2>
            <small>Confira nossa lista de</small>
            <strong>{{ showcaseTitle }}</strong>
        </h2>
        <ul class="row showcase-list">
        {% for product in products %}
            {% set ranking = product.ranking %}
            <li class="product col-sm-3">
                {% element 'snippets/product' {"product": product} %}
            </li>
        {# % if loop.index is divisible by(4) % #}
        <!-- </ul><ul class="showcase-list row"> -->
        {# % endif % #}
        {% endfor %}
        </ul>
    </div>
{% endif %}