<aside class="sidebar">
    {% if filters %}
        {% element 'smart-filter' %}
    {% else %}
        <div class="catalog-menu vertical-nav">  
            <h5>Categorias</h5>
            <ul class="level1">
                {% for level1 in categories %}
                    <li class="item-level1">
                        <a href="{{ level1.link }}" class="link-level1" data-tray-tst="categoria_lvl_1">{{ level1.name }}</a>
                        {% if level1.children %}
                            <div class="level2">
                                <div class="wrapper-list">
                                    <ul>
                                        {% for level2 in level1.children %}
                                            <li class="item-level2 col-sm-4">
                                                <a href="{{ level2.link }}" class="link-level2" data-tray-tst="categoria_lvl_2">{{ level2.name }}</a>
                                            </li>
                                            
                                            {% if loop.index == 3 %}
                                            </ul><ul>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</aside>