.transition {
  -webkit-transition: 300ms all ease 0s;
  -moz-transition: 300ms all ease 0s;
  -ms-transition: 300ms all ease 0s;
  -o-transition: 300ms all ease 0s;
  transition: 300ms all ease 0s; }

html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 1; }

body {
  background: #ffffff; }

.content-split {
  border-color: #ccc;
  margin-bottom: 30px;
  margin-top: 0; }

.page-content {
  background: #fff;
  padding: 0 15px; }
  @media screen and (max-width: 767px) {
    .page-content {
      padding: 0 15px; } }

.page-content .container {
  padding: 0;
  width: 100%; }

.site-main {
  position: relative;
  z-index: 10; }

/* centered columns styles */
.row-centered {
  text-align: center; }

.col-centered {
  display: inline-block;
  float: none;
  /* reset the text-align */
  text-align: left;
  /* inline-block space fix */
  margin-right: -4px; }

@media screen and (max-width: 767px) {
  .suggestion {
    left: 0;
    margin: 0 -48px;
    min-width: 100%;
    right: 0;
    top: 60px; } }

/*# sourceMappingURL=base.css.map */
