<!doctype html>
<html lang="pt-br" data-store="{{ store.id }}" class="page-{{ pages.current }}">

<head>
    <!-- tray meta and styles -->
    {{ html.charset() }}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    {{ tray.meta }} 
    {{ tray.styles }}

    <!-- theme css-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico"  type="text/css">
    <link rel="stylesheet" href="{{ asset('css/bootstrap/bootstrap.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('css/photoswipe-core.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('css/photoswipe-default-skin.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('css/theme.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('css/custom.css', {dynamic: true}) }}" type="text/css">

    <!-- tray scripts -->
    {{ tray.scripts }} 
    {{ tray.analytics }} 
    {{ googleTagManager.header(pages.current, tagManagerData) }}

    <!-- owl caroussel -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#owl-home").owlCarousel({
              items: 1,
              loop:true,
              autoPlay : 5000,
              stopOnHover : false
            });
        });
    </script>
</head>

<body>
    {% spaceless %} 
    {{ googleTagManager.top(pages.current, tagManagerData) }} 
    
    {% element 'menu-mobile' %}

    <div class="application">

        {% element 'header' %}

        <div class="nav-full">
            {% element 'horizontal-nav' %}
        </div>


        {% if banner.home and pages.current == 'home' %} 
            <!-- { % if not banners.home.slides % } -->
                <!-- <div class="box-banner">
                    <div class="banner banner-home">
                        {{ banner.home }}
                    </div>
                </div> -->
            <!-- { % else % } -->

                <div id="owl-home" class="owl-carousel owl-theme banner-home">
                    {% for slide in banners.home %}
                    <div class="banner-item banner">
                        <a href="{{ banners.home.link }}" target="{{ banners.home.target }}">
                            <img src="{{ banners.home.src }}" alt="{{ banners.home.alt }}">
                        </a>
                    </div>
                    {% endfor %}
                </div>
            <!-- { % endif % } -->

            <div class="tipbar">
                <img src="{{ asset('img/tipbar.png') }}" alt="tipbar">
            </div>
        {% endif %}
        
        {% if banner.extra1 and pages.current == 'home' %}
            <div class="banner banner-ruler container">
                {{ banner.extra1 }}
            </div>
        {% endif %}

        <main class="site-main container">
            {% if pages.current != 'home' or pages.current != 'product' %}
                {% if showLeft %}
                    {% element 'sidebar_left' %}
                {% endif %}
            {% endif %}
            
            {% if "central" in pages.current %}
                {% element 'sidebar-central' %}
            {% endif %}

            <section class="page-content {{ 'central' in pages.current ? 'col-sm-9' : '' }}">
                {{ content_for_layout }}
                
                {% if pages.current != 'home' %}
                    {% element 'snippets/history' %}
                {% endif %}
            </section>
        </main>

        {% element 'footer' %}
    </div>

    {% element 'snippets/credits' %}
    {{ googleTagManager.bottom(pages.current, tagManagerData) }}

    <!-- tray -->
    {% element 'snippets/modal' %} 
    {{ googleTagManager.bottom(pages.current, tagManagerData) }} 
    {{ html.script('dist/application.min.js?' ~ utils.assets_version) }} 
    {% element 'snippets/pageview' %} 
    {{ store.chat }}

    <!-- theme scripts-->
    <script src="{{ asset('js/slick.min.js') }}"></script>
    <script src="{{ asset('js/photoswipe-core.js') }}"></script>
    <script src="{{ asset('js/photoswipe-ui.js') }}"></script>
    <script src="{{ asset('js/photoswipe-init.js') }}"></script>
    <script src="{{ asset('js/theme.min.js') }}"></script>
    {% endspaceless %}
</body>

</html>