<style>
    #form-content {
        background: #f7f7f7 !important;
    }
    
    #form-content .form-group{
        background: #fff;
    }
    
    #help-content{
        display: none;
    }
    
    .space-title{
        margin-bottom: 15px;
        font-size: 13px;
    }
    
    .panel-group .panel-heading {
        background: #f7f7f7;
    }
    
    .panel-group .panel-heading a{
        color: #000;
    }
    
</style>

<script>
    jQuery(".collapse-title").click(function(){
        $(this).parents(".panel-heading").siblings(".collapse-content").slideToggle();
    });
</script>

<fieldset>
    
    <div class="form-group">
        <h2>Cores & Layout</h2>
        <hr>
        
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="collapse-custom">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a href="javascript:void(0)" class="collapse-title">Estruturas Gerais</a>
                        </h4>
                    </div>
                    <div class="collapse-content panel-body" style="display: none;"> 
                        <div class="row">
                            <div class="col-sm-3">
                                <h4 class="space-title">Cor Prim&aacute;ria</h4>
                                <div class="input-group colorPicker colorpicker-element">
                                    <span class="input-group-addon"><i style="background: rgb(204, 0, 0);"></i></span>
                                    <input name="color_bg_primaria" placeholder="#252525" class="form-control" type="text">
                                </div> 
                            </div>
                            <div class="col-sm-3">
                                <h4 class="space-title">Cor Secund&aacute;ria</h4>
                                <div class="input-group colorPicker colorpicker-element">
                                    <span class="input-group-addon"><i style="background: rgb(204, 0, 0);"></i></span>
                                    <input name="color_bg_secundaria" placeholder="#b92400" class="form-control" type="text">
                                </div> 
                            </div>
                            <div class="col-sm-3">
                                <h4 class="space-title">Cor do bot&atilde;o Comprar</h4>
                                <div class="input-group colorPicker colorpicker-element">
                                    <span class="input-group-addon"><i style="background: rgb(204, 0, 0);"></i></span>
                                    <input name="color_cta" placeholder="#3d4445" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <h4 class="space-title">Cor de Fundo da Loja</h4>
                                <div class="input-group colorPicker colorpicker-element">
                                    <span class="input-group-addon"><i style="background: rgb(204, 0, 0);"></i></span>
                                    <input name="color_bg_store" placeholder="#f0f5f8" class="form-control" type="text">
                                </div>
                            </div>
                        </div>
                        <hr>
                        <h3 class="space-title">Cores Textos e Links</h3>
                        <div class="row">
                            <div class="col-sm-3">
                                <h4 class="space-title">Avalia&ccedil;&otilde;es</h4>
                                <div class="input-group colorPicker colorpicker-element">
                                    <span class="input-group-addon"><i style="background: rgb(204, 0, 0);"></i></span>
                                    <input name="color_texto_avaliacao" placeholder="#f9f9f9" class="form-control" type="text">
                                </div> 
                            </div>
                            <div class="col-sm-3">
                                <h4 class="space-title">Mais Buscadas</h4>
                                <div class="input-group colorPicker colorpicker-element">
                                    <span class="input-group-addon"><i style="background: rgb(204, 0, 0);"></i></span>
                                    <input name="color_texto_tags" placeholder="#f9f9f9" class="form-control" type="text">
                                </div> 
                            </div>
                            <div class="col-sm-3">
                                <h4 class="space-title">Fundo do banner r&eacute;gua</h4>
                                <div class="input-group colorPicker colorpicker-element">
                                    <span class="input-group-addon"><i style="background: rgb(204, 0, 0);"></i></span>
                                    <input name="color_bg_extra1" placeholder="#252525" class="form-control" type="text">
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="collapse-custom">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a href="javascript:void(0)" class="collapse-title">Barra do topo</a>
                        </h4>
                    </div>
                    <div class="collapse-content panel-body" style="display: none;"> 
                        <div class="row">
                            <div class="col-sm-4">
                                <h4 class="space-title">Cor de fundo</h4>
                                <div class="input-group colorPicker colorpicker-element">
                                    <span class="input-group-addon"><i style="background: rgb(204, 0, 0);"></i></span>
                                    <input name="color_topbar_bg" placeholder="#000000" class="form-control" type="text">
                                </div> 
                            </div>
                            <div class="col-sm-4">
                                <h4 class="space-title">Cor da fonte</h4>
                                <div class="input-group colorPicker colorpicker-element">
                                    <span class="input-group-addon"><i style="background: rgb(204, 0, 0);"></i></span>
                                    <input name="color_topbar_font" placeholder="#ffffff" class="form-control" type="text">
                                </div> 
                            </div>
                            <div class="col-sm-4">
                                <h4 class="space-title">Cor da fonte ao passar o mouse</h4>
                                <div class="input-group colorPicker colorpicker-element">
                                    <span class="input-group-addon"><i style="background: rgb(204, 0, 0);"></i></span>
                                    <input name="color_topbar_font_hover" placeholder="#ff5556" class="form-control" type="text">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="collapse-custom">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a href="javascript:void(0)" class="collapse-title">Menu Principal</a>
                        </h4>
                    </div>
                    <div class="collapse-content panel-body" style="display: none;"> 
                        <div class="row">
                            <div class="col-sm-4">
                                <h4 class="space-title">Cor de fundo</h4>
                                <div class="input-group colorPicker colorpicker-element">
                                    <span class="input-group-addon"><i style="background: rgb(204, 0, 0);"></i></span>
                                    <input name="color_menu_bg" placeholder="#ff5556" class="form-control" type="text">
                                </div> 
                            </div>
                            <div class="col-sm-4">
                                <h4 class="space-title">Cor da fonte</h4>
                                <div class="input-group colorPicker colorpicker-element">
                                    <span class="input-group-addon"><i style="background: rgb(204, 0, 0);"></i></span>
                                    <input name="color_menu_font" placeholder="#ffffff" class="form-control" type="text">
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="collapse-custom">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a href="javascript:void(0)" class="collapse-title">Vitrine</a>
                        </h4>
                    </div>
                    <div class="collapse-content panel-body" style="display: none;"> 
                        <div class="row">
                            <div class="col-sm-3">
                                <h4 class="space-title">Cor do t&iacute;tulo da Vitrine</h4>
                                <div class="input-group colorPicker colorpicker-element">
                                    <span class="input-group-addon"><i style="background: rgb(204, 0, 0);"></i></span>
                                    <input name="color_showcase_color" placeholder="#ff5556" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <h4 class="space-title">Cor do nome e parcelamento</h4>
                                <div class="input-group colorPicker colorpicker-element">
                                    <span class="input-group-addon"><i style="background: rgb(204, 0, 0);"></i></span>
                                    <input name="color_product_name" placeholder="#858585" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <h4 class="space-title">Cor do pre&ccedil;o principal</h4>
                                <div class="input-group colorPicker colorpicker-element">
                                    <span class="input-group-addon"><i style="background: rgb(204, 0, 0);"></i></span>
                                    <input name="color_product_price" placeholder="#ff5556" class="form-control" type="text">
                                </div> 
                            </div>
                            <div class="col-sm-3">
                                <h4 class="space-title">Quantidade de produtos nas vitrines</h4>
                                <input name="limitProducts" class="form-control" placeholder="12" type="text">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="collapse-custom">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a href="javascript:void(0)" class="collapse-title">Rodap&eacute;</a>
                        </h4>
                    </div>
                    <div class="collapse-content panel-body" style="display: none;"> 
                        <div class="row">
                            <div class="col-sm-4">
                                <h4 class="space-title">Cor das Redes Sociais</h4>
                                <div class="input-group colorPicker colorpicker-element">
                                    <span class="input-group-addon"><i style="background: rgb(204, 0, 0);"></i></span>
                                    <input name="color_foo_social" placeholder="#ff5556" class="form-control" type="text">
                                </div> 
                            </div>
                            <div class="col-sm-4">
                                <h4 class="space-title">Links e T&iacute;tulos</h4>
                                <div class="input-group colorPicker colorpicker-element">
                                    <span class="input-group-addon"><i style="background: rgb(204, 0, 0);"></i></span>
                                    <input name="color_texto_msgrodape" placeholder="#ffffff" class="form-control" type="text">
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="collapse-custom">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a href="javascript:void(0)" class="collapse-title">Newsletter</a>
                        </h4>
                    </div>
                    <div class="collapse-content panel-body" style="display: none;"> 
                        <div class="row">
                            <div class="col-sm-3">
                                <h4 class="space-title">T&iacute;tulo</h4>
                                <div class="input-group colorPicker colorpicker-element">
                                    <span class="input-group-addon"><i style="background: rgb(204, 0, 0);"></i></span>
                                    <input name="color_news_texto1" placeholder="#ff5556" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <h4 class="space-title">Fundo Bot&atilde;o</h4>
                                <div class="input-group colorPicker colorpicker-element">
                                    <span class="input-group-addon"><i style="background: rgb(204, 0, 0);"></i></span>
                                    <input name="color_news_bgbotao" placeholder="#ff5556" class="form-control" type="text">
                                </div> 
                            </div>
                            <div class="col-sm-3">
                                <h4 class="space-title">Texto Bot&atilde;o</h4>
                                <div class="input-group colorPicker colorpicker-element">
                                    <span class="input-group-addon"><i style="background: rgb(204, 0, 0);"></i></span>
                                    <input name="color_news_textobotao" placeholder="#ffffff" class="form-control" type="text">
                                </div> 
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-4">
                                <h4 class="space-title">Cor de fundo</h4>
                                <div class="input-group colorPicker colorpicker-element">
                                    <span class="input-group-addon"><i style="background: rgb(204, 0, 0);"></i></span>
                                    <input name="bg_news_color" placeholder="#ecc039" class="form-control" type="text">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
    <div class="form-group">
        <h2>Redes Sociais</h2>
        <hr>
        <div class="row">
            <div class="col-sm-6">
                <div class="input-group">
                    <span class="input-group-addon">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="18" height="18" viewBox="0 0 90 90" style="enable-background:new 0 0 90 90;" xml:space="preserve"><g><path id="Facebook__x28_alt_x29_" d="M90,15.001C90,7.119,82.884,0,75,0H15C7.116,0,0,7.119,0,15.001v59.998 C0,82.881,7.116,90,15.001,90H45V56H34V41h11v-5.844C45,25.077,52.568,16,61.875,16H74v15H61.875C60.548,31,59,32.611,59,35.024V41 h15v15H59v34h16c7.884,0,15-7.119,15-15.001V15.001z" fill="#3b5998"/></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                    </span>
                    <input name="social_facebook" placeholder="Facebook" class="form-control" type="text">
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 486.392 486.392" style="enable-background:new 0 0 486.392 486.392;" xml:space="preserve" width="18" height="18"><g><g><g><path d="M395.193,0H91.198C40.826,0,0,40.826,0,91.198v303.995c0,50.372,40.826,91.198,91.198,91.198 h303.995c50.372,0,91.198-40.827,91.198-91.198V91.198C486.392,40.826,445.565,0,395.193,0z M364.186,188.598l0.182,7.752 c0,79.16-60.221,170.359-170.359,170.359c-33.804,0-65.268-9.91-91.776-26.904c4.682,0.547,9.454,0.851,14.288,0.851 c28.059,0,53.868-9.576,74.357-25.627c-26.204-0.486-48.305-17.814-55.935-41.586c3.678,0.669,7.387,1.034,11.278,1.034 c5.472,0,10.761-0.699,15.777-2.067c-27.39-5.533-48.031-29.7-48.031-58.701v-0.76c8.086,4.499,17.297,7.174,27.116,7.509 c-16.051-10.731-26.63-29.062-26.63-49.825c0-10.974,2.949-21.249,8.086-30.095c29.518,36.236,73.658,60.069,123.422,62.562 c-1.034-4.378-1.55-8.968-1.55-13.649c0-33.044,26.812-59.857,59.887-59.857c17.206,0,32.771,7.265,43.714,18.908 c13.619-2.706,26.448-7.691,38.03-14.531c-4.469,13.984-13.953,25.718-26.326,33.135c12.069-1.429,23.651-4.682,34.382-9.424 C386.073,169.659,375.889,180.208,364.186,188.598z" fill="#5ea9dd"/></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                    </span>
                    <input name="social_twitter" placeholder="Twitter" class="form-control" type="text">
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="18" height="18" viewBox="0 0 438.557 438.557" style="enable-background:new 0 0 438.557 438.557;" xml:space="preserve"><g><path d="M414.418,24.128C398.341,8.047,378.972,0.005,356.323,0.005V0H82.239C59.591,0,40.222,8.044,24.138,24.125 C8.057,40.209,0.015,59.578,0.015,82.226v274.089c0,22.647,8.042,42.018,24.123,58.095c16.084,16.084,35.454,24.126,58.102,24.126 h52.25c-3.239-29.304-2.573-53.481,1.997-72.512l27.978-118.198c-4.568-9.329-6.854-20.841-6.854-34.543 c0-15.796,4.045-29.075,12.137-39.827c8.086-10.757,17.937-16.134,29.547-16.134c9.326,0,16.512,3.092,21.554,9.276 c5.041,6.189,7.566,13.945,7.566,23.272c0,5.898-1.047,12.99-3.138,21.267c-2.098,8.285-4.9,17.99-8.422,29.126 c-3.521,11.135-6.042,19.934-7.566,26.404c-2.663,11.424-0.476,21.27,6.567,29.555c7.042,8.274,16.272,12.422,27.696,12.422 c20.177,0,36.686-11.231,49.539-33.694c12.847-22.456,19.267-49.676,19.267-81.649c0-24.551-7.946-44.54-23.846-59.955 c-15.886-15.418-38.013-23.128-66.376-23.128c-31.78,0-57.526,10.138-77.228,30.407c-19.701,20.271-29.552,44.684-29.552,73.233 c0,16.748,4.761,31.025,14.277,42.828c3.234,3.614,4.283,7.615,3.14,11.995c-0.953,3.237-2.38,9.041-4.283,17.412 c-0.763,2.669-2.141,4.473-4.141,5.428c-2.002,0.951-4.237,0.951-6.711,0c-14.655-6.088-25.747-16.563-33.263-31.409 c-7.517-14.842-11.276-31.977-11.276-51.387c0-12.564,2.047-25.179,6.14-37.831c4.093-12.66,10.422-24.841,18.986-36.545 c8.564-11.709,18.792-22.129,30.69-31.267c11.894-9.132,26.458-16.413,43.682-21.838c17.222-5.424,35.736-8.137,55.524-8.137 c20.181,0,38.927,3.48,56.25,10.426c17.319,6.945,31.833,16.175,43.544,27.69c11.703,11.516,20.889,24.744,27.545,39.687 c6.666,14.938,9.996,30.406,9.996,46.392c0,43.019-10.896,78.564-32.688,106.637c-21.793,28.075-49.916,42.116-84.363,42.116 c-11.43,0-22.128-2.666-32.124-7.994c-9.991-5.328-16.986-11.704-20.984-19.13c-8.374,33.312-13.417,53.197-15.131,59.669 c-4.377,16.751-14.655,36.733-30.833,59.956H356.32c22.647,0,42.017-8.042,58.095-24.126 c16.084-16.084,24.126-35.454,24.126-58.102v-274.1C438.541,59.582,430.499,40.212,414.418,24.128z" fill="#cb2027"/></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                    </span>
                    <input name="social_pinterest" placeholder="Pinterest" class="form-control" type="text">
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 508.52 508.52" style="enable-background:new 0 0 508.52 508.52;" xml:space="preserve" width="18" height="18"><g><g><g><g><path d="M413.172,0H95.347C42.684,0,0,42.684,0,95.347v317.825c0,52.664,42.684,95.347,95.347,95.347 h317.825c52.664,0,95.347-42.684,95.347-95.347V95.347C508.52,42.684,465.836,0,413.172,0z M412.727,310.451 c0,56.509-45.989,102.308-102.943,102.308H198.831c-56.891,0-103.102-45.735-103.102-102.308V198.132 c0.032-56.541,46.18-102.371,103.102-102.371h51.964c56.954,0,102.53,42.525,102.53,99.066 c0.731,10.584,10.298,19.8,21.167,19.8h17.766c11.378,0,20.5,11.95,20.5,23.233L412.727,310.451L412.727,310.451z" fill="#f79238"/><path d="M313.693,293.893H194.827c-10.901,0-19.8,8.899-19.8,19.801c0,10.87,8.931,19.8,19.8,19.8 h118.866c10.901,0,19.8-8.931,19.8-19.8C333.494,302.792,324.594,293.893,313.693,293.893z" fill="#f79238"/><path d="M194.827,214.627h59.433c10.901,0,19.8-8.931,19.8-19.8c0-10.901-8.931-19.8-19.8-19.8h-59.433 c-10.901,0-19.8,8.931-19.8,19.8C174.994,205.728,183.925,214.627,194.827,214.627z" fill="#f79238"/></g></g></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                    </span>
                    <input name="social_blogger" placeholder="Blogger" class="form-control" type="text">
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="18" height="18" viewBox="0 0 553.102 553.102" style="enable-background:new 0 0 553.102 553.102;" xml:space="preserve"><g><g><path d="M333.087,326.967c-8.641,0-16.805,4.799-24.485,14.4v-57.98h-24.125v177.529h24.125v-12.969 c7.919,9.848,16.077,14.768,24.485,14.768c9.842,0,16.2-5.037,19.083-15.123c1.677-5.049,2.521-13.801,2.521-26.291v-52.576 c0-12.719-0.845-21.604-2.521-26.641C349.287,331.998,342.929,326.967,333.087,326.967z M330.927,423.105 c0,11.775-3.482,17.639-10.446,17.639c-4.082,0-8.042-1.916-11.879-5.752v-80.668c3.837-3.826,7.797-5.754,11.879-5.754 c6.958,0,10.446,6.004,10.446,18.006V423.105z" fill="#eb0e37"/><path d="M409.422,326.967c-12.24,0-21.849,4.572-28.807,13.686c-4.804,6.469-7.203,16.811-7.203,30.961v46.463 c0,14.162,2.521,24.473,7.564,30.961c6.958,9.131,16.683,13.684,29.168,13.684c12.724,0,22.325-4.797,28.807-14.406 c2.883-4.32,4.682-9.113,5.404-14.406c0.477-3.348,0.716-8.525,0.716-15.49v-3.236h-24.486c0,2.643,0,5.219,0,7.734 s-0.062,4.498-0.178,5.949c-0.122,1.432-0.177,2.277-0.177,2.516c-1.438,6.248-5.043,9.352-10.802,9.352 c-8.165,0-12.24-6.121-12.24-18.354v-23.41h47.889v-27.361c0-13.912-2.521-24.236-7.559-30.963 C431.032,331.539,421.668,326.967,409.422,326.967z M420.946,379.178h-23.765v-12.254c0-12.238,3.96-18.354,11.88-18.354 c7.925,0,11.885,6.121,11.885,18.354V379.178z" fill="#eb0e37"/><path d="M239.818,429.588c-5.281,7.441-10.324,11.156-15.123,11.156c-3.366,0-5.165-1.799-5.397-5.404 c-0.245-0.465-0.361-3.598-0.361-9.352v-97.223h-23.764v104.426c0,9.131,0.722,15.6,2.16,19.438 c2.161,6.738,7.203,10.086,15.123,10.086c8.88,0,18.005-5.404,27.369-16.205v14.406h24.125v-132.15h-24.125v100.822H239.818z" fill="#eb0e37"/><path d="M271.153,193.013c7.681,0,11.524-6.132,11.524-18.372v-56.182c0-12.479-3.843-18.721-11.524-18.721 c-7.687,0-11.524,6.242-11.524,18.721v56.182C259.629,186.88,263.466,193.013,271.153,193.013z" fill="#eb0e37"/><polygon points="108.03,308.596 136.115,308.596 136.115,460.916 162.762,460.916 162.762,308.596 191.568,308.596 191.568,283.387 108.03,283.387 " fill="#eb0e37"/><path d="M449.398,0H103.71C75.142,0,50.717,10.153,30.429,30.422C10.141,50.723,0,75.142,0,103.709v345.683 c0,28.566,10.141,52.998,30.429,73.268c20.282,20.281,44.707,30.441,73.281,30.441h345.688c28.562,0,52.986-10.154,73.274-30.441 c20.281-20.27,30.429-44.701,30.429-73.268V103.709c0-28.568-10.147-52.987-30.429-73.287C502.385,10.153,477.96,0,449.398,0z M326.606,79.939h24.125v97.938c0,5.765,0.122,8.892,0.361,9.37c0.238,3.855,2.16,5.765,5.759,5.765 c4.798,0,9.841-3.715,15.122-11.169V79.939h24.125v133.232h-24.125v-14.406c-9.847,10.802-19.088,16.206-27.729,16.206 c-7.687,0-12.846-3.237-15.483-9.719c-1.438-4.32-2.16-10.918-2.16-19.804V79.939H326.606z M235.498,123.147 c0-13.911,2.521-24.364,7.564-31.322c6.481-9.113,15.845-13.685,28.085-13.685c11.756,0,21.12,4.572,28.084,13.685 c5.043,6.964,7.559,17.411,7.559,31.322v46.812c0,14.4-2.521,24.854-7.559,31.322c-6.965,9.131-16.328,13.685-28.084,13.685 c-12.24,0-21.604-4.56-28.085-13.685c-5.043-6.946-7.564-17.387-7.564-31.322V123.147z M170.687,34.211l19.088,70.215 l18.36-70.215h27.008l-32.406,106.592v72.369h-26.646v-72.369c-2.644-13.207-8.164-32.167-16.566-56.897 c-1.683-5.514-4.45-13.801-8.287-24.853c-3.843-11.028-6.726-19.315-8.642-24.841H170.687z M467.403,468.834 c-2.405,10.338-7.51,19.09-15.307,26.293c-7.803,7.203-16.866,11.406-27.185,12.6c-32.89,3.6-82.345,5.404-148.355,5.404 c-66.023,0-115.472-1.799-148.355-5.404c-10.325-1.193-19.388-5.402-27.185-12.6c-7.803-7.203-12.907-15.949-15.3-26.293 c-4.804-20.158-7.203-51.371-7.203-93.623c0-41.523,2.399-72.736,7.203-93.623c2.399-10.551,7.503-19.37,15.3-26.458 c7.797-7.087,16.983-11.224,27.546-12.436c32.644-3.599,81.978-5.404,148-5.404c66.255,0,115.705,1.799,148.355,5.404 c10.324,1.212,19.449,5.343,27.368,12.436c7.926,7.087,13.085,15.906,15.484,26.458c4.559,19.932,6.842,51.133,6.842,93.623 C474.601,417.463,472.201,448.676,467.403,468.834z" fill="#eb0e37"/></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                    </span>
                    <input name="social_youtube" placeholder="Youtube" class="form-control" type="text">
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="18" height="18" viewBox="0 0 438.536 438.536" style="enable-background:new 0 0 438.536 438.536;" xml:space="preserve"><g><path d="M421.981,16.562C410.941,5.519,397.711,0,382.298,0H56.248C40.83,0,27.604,5.521,16.561,16.562 C5.52,27.6,0.001,40.828,0.001,56.243V382.29c0,15.413,5.518,28.644,16.56,39.683c11.043,11.04,24.272,16.563,39.687,16.563 h326.046c15.41,0,28.644-5.523,39.684-16.563c11.043-11.039,16.557-24.27,16.557-39.683V56.243 C438.534,40.825,433.021,27.604,421.981,16.562z M157.462,158.025c17.224-16.652,37.924-24.982,62.097-24.982 c24.36,0,45.153,8.33,62.381,24.982c17.228,16.655,25.837,36.785,25.837,60.386c0,23.598-8.609,43.729-25.837,60.379 c-17.228,16.659-38.014,24.988-62.381,24.988c-24.172,0-44.87-8.336-62.097-24.988c-17.228-16.652-25.841-36.781-25.841-60.379 C131.621,194.81,140.234,174.681,157.462,158.025z M388.865,370.589c0,4.945-1.718,9.083-5.141,12.416 c-3.433,3.33-7.519,4.996-12.282,4.996h-305.2c-4.948,0-9.091-1.666-12.419-4.996c-3.333-3.326-4.998-7.471-4.998-12.416V185.575 H89.08c-3.805,11.993-5.708,24.462-5.708,37.402c0,36.553,13.322,67.715,39.969,93.511c26.65,25.786,58.721,38.685,96.217,38.685 c24.744,0,47.583-5.903,68.527-17.703c20.937-11.807,37.486-27.839,49.676-48.112c12.183-20.272,18.274-42.4,18.274-66.38 c0-12.94-1.91-25.406-5.715-37.402h38.547v185.014H388.865z M388.865,115.626c0,5.52-1.903,10.184-5.716,13.99 c-3.805,3.809-8.466,5.711-13.989,5.711h-49.676c-5.517,0-10.185-1.903-13.99-5.711c-3.806-3.806-5.708-8.47-5.708-13.99V68.522 c0-5.33,1.902-9.945,5.708-13.848c3.806-3.901,8.474-5.854,13.99-5.854h49.676c5.523,0,10.185,1.952,13.989,5.854 c3.812,3.903,5.716,8.518,5.716,13.848V115.626z" fill="#895a4d"/></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                    </span>
                    <input name="social_instagram" placeholder="Instagram" class="form-control" type="text">
                </div>
            </div>
        </div>
    </div>
    
    <div class="form-group">
        <h2>Vitrine</h2>
        <hr>
        
        <div class="row">
            <div class="col-sm-4">
                <h4>O que deseja exibir na primeira vitrine?</h4>
                <div class="radio">
                    <label>
                        <input type="radio" name="showcase_1" value="featured">Destaques
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="showcase_1" value="new">Lan&ccedil;amentos
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="showcase_1" value="free_shipping">Frete Gr&aacute;tis
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="showcase_1" value="promotion">Promo&ccedil;&otilde;es
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="showcase_1" value="top_seller">Mais Vendidos
                    </label>
                </div>
            </div>
            
            <div class="col-sm-4">
                <h4>O que deseja exibir na segunda vitrine?</h4>
                <div class="radio">
                    <label>
                        <input type="radio" name="showcase_2" value="featured">Destaques
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="showcase_2" value="new">Lan&ccedil;amentos
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="showcase_2" value="free_shipping">Frete Gr&aacute;tis
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="showcase_2" value="promotion">Promo&ccedil;&otilde;es
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="showcase_2" value="top_seller">Mais Vendidos
                    </label>
                </div>
            </div>
            
             <div class="col-sm-4">
                <h4>O que deseja exibir na terceira vitrine?</h4>
                <div class="radio">
                    <label>
                        <input type="radio" name="showcase_3" value="featured">Destaques
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="showcase_3" value="new">Lan&ccedil;amentos
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="showcase_3" value="free_shipping">Frete Gr&aacute;tis
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="showcase_3" value="promotion">Promo&ccedil;&otilde;es
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="showcase_3" value="top_seller">Mais Vendidos
                    </label>
                </div>
            </div>
        </div>
    </div>
    
    <div class="form-group">
        <div class="row">
            <div class="col-sm-6">
                <h2>Seguran&ccedil;a</h2>
                <hr>
                <img src="https://images2.tcdn.com.br/443860/themes/2/img/google-safe-browsing.png?v1" alt="Google Safe Browsing">
                <div class="checkbox">
                    <label for="google_safe">
                        <input type="checkbox" name="google_safe" id="google_safe">
                        Selo Google Safe Browsing
                    </label>
                </div>
            </div>
            <div class="col-sm-6">
                <h2>Recursos</h2>
                <hr>
                <h4>Marque os recursos que deseja exibir</h4>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="store_rating">Avalia&ccedil;&otilde;es
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="store_top_search">Palavras Mais Buscadas
                    </label>
                </div>
            </div>
        </div>
    </div>
    
</fieldset>