<div class="catalog-header">
    
    {% if banner.title %}
        <div class="banner banner-title">
            {{ banner.title }}
        </div>
    {% endif %}
    
    <h2 class="catalog-name">{{ category.name }}</h2>
    
    {% if products|length > 0 %}
    
        {% if breadcrumb %}
            {% element 'snippets/breadcrumb' %}
        {% endif %}
        
        <div class="system-filter">
            {% element 'snippets/filter' {
                'brands': category.brands
            } %}
        </div>
    
        <div class="pagination">
            {% element 'snippets/pagination' %}
        </div>
        
    {% endif %} 
    
</div>


{% if products|length > 0 %}

    <div class="catalog-content row">
        <div class="col-sm-9 pull-right">
        {% element 'showcase-catalog' {
            "products": products
        } %}
        </div>
    </div>

    <div class="catalog-footer">
        {% element 'snippets/pagination' %}
    </div>

{% else %}

    <div class="catalog-empty">
        <img src="{{ asset('img/catalog-empty.svg') }}" alt="Sem produtos" width="150" height="150">
        <p>Nenhum produto encontrado nessa categoria.</p>
    </div>

{% endif %}