{% if settings.limitProducts %}
    {% set limitProducts = settings.limitProducts %}
{% else %}
    {% set limitProducts = 8 %}
{% endif %}

{% if settings.showcase_1 == "featured" %}
    {% set showcaseText = "Destaques" %}
{% elseif settings.showcase_1 == "new" %}
    {% set showcaseText = "Lan&ccedil;amentos" %}
{% elseif settings.showcase_1 == "free_shipping" %}
    {% set showcaseText = "Frete Gr&aacute;tis" %}
{% elseif settings.showcase_1 == "promotion" %}
    {% set showcaseText = "Promo&ccedil;&otilde;es" %}
{% elseif settings.showcase_1 == "top_seller" %}
    {% set showcaseText = "Mais Vendidos" %}
{% endif %}

{% if settings.showcase_1 == "top_seller" %}
    {% set products = Products({
        'filter': 'available',
        'limit': limitProducts,
        'order': {'quantity_sold': 'desc'}
    }) %}
{% else %}
    {% set products = Products({
        'filter': settings.showcase_1,
        'limit': limitProducts,
        'order': 'rand'
    }) %}
{% endif %}

{% element 'showcase' { 
    "products": products,
    "showcaseTitle": showcaseText
} %}
<div class="banners banner-widget-home">
    <div class="container">
        <div class="row">
            {% if banner.extra2 %}
                <div class="col-xs-12 col-sm-6 mini-banner3">
                    {{ banner.extra2 }}
                </div>
            {% endif %}
            {% if banner.extra3 %}
                <div class="col-xs-12 col-sm-6 mini-banner3">
                    {{ banner.extra3 }}
                </div>
            {% endif %}
        </div>
    </div>
</div> 

{% if settings.showcase_2 == "featured" %}
    {% set showcaseText = "Destaques" %}
{% elseif settings.showcase_2 == "new" %}
    {% set showcaseText = "Lan&ccedil;amentos" %}
{% elseif settings.showcase_2 == "free_shipping" %}
    {% set showcaseText = "Frete Gr&aacute;tis" %}
{% elseif settings.showcase_2 == "promotion" %}
    {% set showcaseText = "Promo&ccedil;&otilde;es" %}
{% elseif settings.showcase_2 == "top_seller" %}
    {% set showcaseText = "Mais Vendidos" %}
{% endif %}

{% if settings.showcase_2 == "top_seller" %}
    {% set products = Products({
        'filter': 'available',
        'limit': limitProducts,
        'order': {'quantity_sold': 'desc'}
    }) %}
{% else %}
    {% set products = Products({
        'filter': settings.showcase_2,
        'limit': limitProducts,
        'order': 'rand'
    }) %}
{% endif %}

{% element 'showcase' { 
    "products": products,
    "showcaseTitle": showcaseText
} %}


<div class="banners banner-widget-home">
    <div class="container">
        <div class="banner-full">
            {% if banner.extra4 %}
                <div class="mini-banner3">
                    {{ banner.extra4 }}
                </div>
            {% endif %}
        </div>
    </div>
</div>


{% if settings.showcase_3 == "featured" %}
    {% set showcaseText = "Destaques" %}
{% elseif settings.showcase_3 == "new" %}
    {% set showcaseText = "Lan&ccedil;amentos" %}
{% elseif settings.showcase_3 == "free_shipping" %}
    {% set showcaseText = "Frete Gr&aacute;tis" %}
{% elseif settings.showcase_3 == "promotion" %}
    {% set showcaseText = "Promo&ccedil;&otilde;es" %}
{% elseif settings.showcase_3 == "top_seller" %}
    {% set showcaseText = "Mais Vendidos" %}
{% endif %}

{% if settings.showcase_3 == "top_seller" %}
    {% set products = Products({
        'filter': 'available',
        'limit': limitProducts,
        'order': {'quantity_sold': 'desc'}
    }) %}
{% else %}
    {% set products = Products({
        'filter': settings.showcase_3,
        'limit': limitProducts,
        'order': 'rand'
    }) %}
{% endif %}

{% element 'showcase' { 
    "products": products,
    "showcaseTitle": showcaseText
} %}