<section id="product-container" class="produto-wrapper product-detail" itemscope itemtype="http://schema.org/Product">
    <div class="row">
        
        <div class="col-md-6">
            {% element 'snippets/breadcrumb' { "class": 'breadcrumb'} %}
            
            {% if product.images %}
                
                <div id="visualBlock" class="product-gallery hidden-xs">
                    {{ productHelper.gallery() }}
                </div>
                
                <div class="photoswipe-wrapper visible-xs-block">
                    {% element 'snippets/photoswipe' %}
                </div>
                
            {% else %}
                <div class="product-gallery no-image">
                    <img src="{{ asset('img/no-image.svg') }}" alt="Nenhuma imagem foi cadastrada">
                </div>
            {% endif %}
            
            
        </div>
        
        <div class="col-md-6">
            <h2 class="product-name" itemprop="name">{{ product.name }}</h2>
            {% element 'product/rating' %}
            <div class="product-labels">
                {{ productHelper.labels() }}
            </div>
            <p class="product-details">
                {{ productHelper.details() }}
                {{ productHelper.icons() }}
            </p>
            {{ productHelper.bonus() }}
            <form id="form_comprar" method="post" data-app="product.buy-form" action="{{ links.cart_add ~ product.id }}">
                {{ productHelper.pricing() }}
                {{ productHelper.variants() }}
                {{ product.additional_information }}
                {{ productHelper.gifts() }}
                {% if not product.upon_request %}
                    {% element 'snippets/botoes_qty' %}
                    {{ productHelper.wishlist() }}
                    {{ productHelper.shipping() }}
                {% endif %}
                
                <div class="shipping-result"></div>
    
            </form>
            <div class="product-social">
                {{ productHelper.social() }}
            </div>
        </div>
    </div>
</section>

<section id="ProdBlock" class="product-tabs">
    <a name="formaPagto"></a>
    <div id="ProdAbas" class="abasProduto tab-panel">
        <ul class="clearfix">
            {% for key, tab in productTabs %}
              {% if tab.container_id %}
              <li id="{{ tab.id }}" {% if key=='description' %}class="aberta" {% endif %}>
                <a href="#" data-tab-container-id="{{ tab.container_id }}" data-tab-url="{{ tab.url }}">{{ tab.description }}</a>
              </li>
              {% endif %}
            {% endfor %}
        </ul>
    </div>

    <div id="descricao" class="prodBox">
        <div class="board">
            <div class="board_htm description">
                {{ product.description ? product.description : product.description_small }}
            </div>
        </div>
    </div>

    <div id="itensInclusos" class="prodBox">
        <div class="board">
            {{ product.included_items }}
        </div>
    </div>

    <div id="coments" class="prodBox">
        <div class="board">
            {% element 'product/comments' %}
        </div>
    </div>

    <div id="caracteristicas" class="prodBox">
        <div class='board'>
            {% element 'product/properties' %}
        </div>
    </div>

    {{ productTabs.custom.content }}
    {{ productTabs.downloads.content }}

    <div id="garantia" class="prodBox">
        <img class="loader" src="{{ tray.paths.system_image }}/big-loading.svg" style="display:none;" />
    </div>
    <div data-app="product.payment-methods" id="formasPagto" class="prodBox" style="display:none;" ></div>
</section>

{% if productHelper.bundle() %}
<section class="product-cross-sell">
    <h4>Aproveite tamb&eacute;m e</h4>
    <h3>Compre Junto</h3>
    {{ productHelper.bundle() }}
</section>
{% endif %}


{% if product.related_products %}
<section class="products-related">
    <h4>Quem viu, viu tamb&eacute;m!</h4>
    <h3 class="related-title">Produtos Relacionados</h3>
    <div class="row">
        {% for related in product.related_products %}
            <div class="col-sm-3 product col-xs-12">
                {% element 'snippets/product' {"product": related} %}
            </div>
        {% endfor %}
    </div>
</section>
{% endif %}


<section class="products-visited">
    <h4>Confira os produtos</h4>
    <h3 class="related-title">Visitados</h3>
    {% element 'snippets/history' %}
</section>