<div class="catalog-header">
    
    {% if search.word %}
        <h2 class="catalog-name">Exibindo resultados para: {{ search.word }}</h2>
    {% else %}
        <h2 class="catalog-name">Exibindo todos os produtos</h2>
    {% endif %}
    
    <h2 class="catalog-name">{{ category.name }}</h2>
    
    {% if products|length > 0 %}
    
        {% if breadcrumb %}
            {% element 'snippets/breadcrumb' %}
        {% endif %}
        
        <div class="system-filter">
            {% element 'snippets/filter' {
                'brands': category.brands
            } %}
        </div>
    
        <div class="pagination">
            {% element 'snippets/pagination' %}
        </div>
        
    {% endif %}
    
</div>


{% if products|length > 0 %}

    <div class="catalog-content row">
        {% element 'showcase-catalog' {
            "products": products
        } %}
    </div>

    <div class="catalog-footer">
        {% element 'snippets/pagination' %}
    </div>

{% else %}

    <p>Nenhum produto encontrado nessa categoria.</p>

{% endif %}